<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia porro optio voluptates, architecto placeat, odit quibusdam nostrum aliquid rem nam cumque. Dolor architecto, commodi enim consequuntur magni placeat quasi deserunt.</p>

      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia porro optio voluptates, architecto placeat, odit quibusdam nostrum aliquid rem nam cumque. Dolor architecto, commodi enim consequuntur magni placeat quasi deserunt.</p>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia porro optio voluptates, architecto placeat, odit quibusdam nostrum aliquid rem nam cumque. Dolor architecto, commodi enim consequuntur magni placeat quasi deserunt.</p>

    </div>
  </div>