<div class="container  mt-5 mb-5">
    <div class="row mb-5">
<!-- Card -->
        <div class="col-md-6 border fundo-pagamento">
            <h2 class="text-center  mt-4 mb-4">Carrinho</h2>
            <div class="container">
                <div class="row">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center mt-4 mb-4">
                                  
                                </div>
                                <div class="col-md-4 mb-5 d-flex justify-content-center" *ngFor="let item of itens">
                                    <div class="card d-flex justify-content-center" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{item.nome}}</h5>
                                        </div>
                                        <img src={{item.foto}}
                                            class = "card-img-top" alt="...">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border border-dark">Valor - {{item.preco}}</li>
                                            <li class="list-group-item border border-dark">Id - {{item.idProduto}}</li>
                                            <li class="list-group-item border border-dark">Quantidade - {{item.quantidade}}</li>
                                            <li class="list-group-item border border-dark">Tamanho - {{item.tamanho}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>


<!-- Card -->



        <div class="col-md-6 border fundo-carrinho">
            <h2 class="text-center mt-4 mb-4">Pagamento</h2>

            <form>
                <div class="form-group">
                    <label for="inputAddress">Numero do cartão</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="XXXX XXXX XXXX XXXX">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Nome no cartão</label>
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Cleiton Ortega dos Santos">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Valido até</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="MM/AA">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">CCV do cartão</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="XXX">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputState">Opção de pagamento</label>
                    <select id="inputState" class="form-control">
                        <option selected>A vista</option>
                        <option>2X</option>
                        <option>3X</option>
                    </select>
                </div>
                <div class="d-flex justify-content-end align-self-end">
                    <h4>Total da compra: {{total}}</h4>
                </div>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary d-flex justify-content-center w-50 mb-4 mt-4">Confirmar compra</button>
        </div>
    </form>

    </div>
</div>
