<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4 w-100 neve">

    <!-- Footer Elements -->
    <div class="container w-100 ">
  
      <!-- Call to action -->
      <div class="row w-100">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row w-100">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
               <li><a href="#" target="_blank" class="icoFacebook" title="Facebook">
                 <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                </a></li>
               <li><a href="#" target="_blank" class="icoInstagram" title="Instagram">
                 <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                </a></li>
               <li><a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
                 <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                </a></li>
                <li><a href="#" target="_blank" class="icoGithub" title="Github">
                <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                </a></li>
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <div class="row w-100">
        
        <div class="col-md-3 d-flex justify-content-center">
          
  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><h5 class="text-primary">Sobre a LeriGo</h5></button>
         
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sobre nós</h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                <p> Teste de sobre nós lorem</p>
                  </div>
                  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 d-flex justify-content-center">
          
          <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo"><h5 class="text-primary">Termos de uso</h5></button>
                 
                </div>
        
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Termos de uso</h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-group">
                        <p> Teste de Termos de uso Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis libero velit maiores dolore perferendis earum aliquid, rem nisi accusantium excepturi voluptas mollitia. Iure, qui. Hic repellat consectetur repudiandae vitae!</p>
                          </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
        

        <div class="col-md-3 d-flex justify-content-center">
          
          <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo"><h5 class="text-primary">Politica de privacidade</h5></button>
                 
                </div>
        
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Politica de privacidade</h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-group">
                        <p> Teste de Politica de privacidade Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis libero velit maiores dolore perferendis earum aliquid, rem nisi accusantium excepturi voluptas mollitia. Iure, qui. Hic repellat consectetur repudiandae vitae!</p>
                          </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

        <div class="col-md-3 d-flex justify-content-center">
          
          <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo"><h5 class="text-primary">Fale Conosco</h5></button>
                 
                </div>
        
                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Fale conosco</h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-group">
                        <p> Teste de fale conosco Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis libero velit maiores dolore perferendis earum aliquid, rem nisi accusantium excepturi voluptas mollitia. Iure, qui. Hic repellat consectetur repudiandae vitae!</p>
                          </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>





      </div>
    
    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->