<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4 p-3">
            <app-perfil-lateral></app-perfil-lateral>
        </div>
        <div class="col-md-8">
            <h3 class="d-flex justify-content-center"> O ato de doar</h3>
            
            <p class="p-3 font">
                Oi, galera! Vocês já ouviram falar que gentileza gera gentileza, não é? Se você doar roupas, a ideia é mais ou menos a mesma: a ação faz bem para quem dá e para quem recebe, na mesma proporção. Além de ajudar quem está necessitando, esse hábito também é bom para o meio ambiente e traz até alguns benefícios para você que está doando.
            </p>
            <hr>
            <p class="p-3 font">
                Devemos entender a doação como algo periódico, realizado pelo menos uma vez ao ano. Na verdade, o ideal é seguir as estações e doar roupas de frio antes do outono e inverno, e as de calor, antes da primavera. Assim, quem recebe poderá aproveitar as roupas ainda no mesmo ano.     
            </p>

        </div>
    </div>
</div>
<!-- Separador de páginas -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-6">ONGS</h1>
      <p class="lead">Conheça um pouco das ongs parceiras e o trabalho sério que cada uma proporciona</p>
    </div>
  </div>

<!-- ONGS TESTE-->
<div class="container">
    <div class="row">
        <div class="col-md-4 p-3">
            <!--Cards -->
            <a href="#" data-toggle="modal" data-target="#modalOng1" data-whatever="@mdo">

                <div class="card p-3 shadow p-3" data-aos="fade-down-right" style="max-width: 18rem;">
                    <img class="card-img-top"
                        src="https://doare-assets.s3.amazonaws.com/uploads/organizations/155/532733cf-643c-4297-bdbd-0dccadffc97e.jpg"
                        alt="Imagem de capa do card">
                </div>
            </a>
            <!-- Modal ong1-->

            <div class="modal fade" id="modalOng1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> CERVI
                            </h5>
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body mt-3">
                            <div class="form-group">
                                <h6>
                                    CENTRO DE REESTRUTURAÇÃO PARA A VIDA
                                </h6>
                                <p>
                                    Missão: Oferece assistência integral a mulheres
                                    e familiares que passam por uma gravidez inesperada,
                                    experiência do aborto, vítimas de violência e/ou vítimas
                                    de abuso sexual, valorizando a opção pela vida.
                                </p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="http://cervi.org.br/" target="_blank" class="btn btn-dark text-light">
                                Visitar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM Modal ong1-->
            <!---->
        </div>
        <div class="col-md-4 p-3">
            <!--Cards -->
            <a href="#" data-toggle="modal" data-target="#modalOng2" data-whatever="@mdo">
                <div class="card p-3 shadow p-3" data-aos="fade-down" style="max-width: 18rem; max-height: 18rem;">
                    <img class="card-img-top w-100 h-100" src="https://apae.com.br/images/Marca.svg
                        " alt="Imagem de capa do card">
                </div>
            </a>
            <!---->
            <!-- Modal ong2-->

            <div class="modal fade" id="modalOng2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> APAE
                            </h5>
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body mt-3">
                            <div class="form-group">
                                <h6>
                                    Associação de Pais e Amigos
                                </h6>
                                <p>
                                    Missão: A Associação de Pais e Amigos dos Excepcionais (Apae ) nasceu em 1954, no
                                    Rio de Janeiro.
                                    Caracteriza-se por ser uma organização social,
                                    cujo objetivo principal é promover a atenção integral à pessoa com deficiência
                                    intelectual e múltipla.

                                </p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="https://apae.com.br/" target="_blank" class="btn btn-dark text-light">
                                Visitar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM Modal ong2-->
        </div>
        <div class="col-md-4 p-3">
            <!--Cards3 -->
            <a href="#" data-toggle="modal" data-target="#modalOng2" data-whatever="@mdo">
                <div class="card p-3 shadow p-3" data-aos="fade-down" style="max-width: 18rem;">
                    <img class="card-img-top"
                        src="https://storage.googleapis.com/sealpolen-files.polinizador.com.br/blob/ongs/ong-asatransforma-logo.png"
                        alt="Imagem de capa do card">
                </div>
            </a>
            <!---->
            <!-- Modal ong3-->

            <div class="modal fade" id="modalOng3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> ASA
                            </h5>
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body mt-3">
                            <div class="form-group">
                                <h6>
                                    Associação Santo Agostinho
                                </h6>
                                <p>
                                    Missão: A ASA – Associação Santo Agostinho é uma organização da sociedade civil, sem
                                    fins lucrativos,
                                    que há 77 anos, atende mais de 1400 crianças,
                                    adolescentes e idosos em situação de vulnerabilidade social, na cidade de São Paulo.

                                </p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="https://asatransforma.org.br/asa/" target="_blank" class="btn btn-dark text-light">
                                Visitar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM Modal ong3-->

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 p-3">

            <!--Cards4 -->
            <a href="#" data-toggle="modal" data-target="#modalOng4" data-whatever="@mdo">
                <div class="card p-3 shadow p-3" data-aos="fade-down" style="max-width: 18rem;">
                    <img class="card-img-top"
                        src="https://lh3.googleusercontent.com/proxy/VqSmEXpF9-tE6qwWJAImnWz4PwwSwpjonZlZiLXWghzFjC6Ni6XsKWvIrefZT5AnpwuFd0d1vwk3kzwPu45RJs8Hjn-z9YaNtftr"
                        alt="Imagem de capa do card">
                </div>
            </a>
            <!---->
             <!-- Modal ong4-->

             <div class="modal fade" id="modalOng4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
             data-backdrop="static" data-keyboard="false">
             <div class="modal-dialog">
                 <div class="modal-content bg-dark text-white">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel"> A Mão Branca
                         </h5>
                         <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">×</span>
                         </button>
                     </div>
                     <div class="modal-body mt-3">
                         <div class="form-group">
                             <h6>
                                Associação Beneficente "A Mão Branca" De Amparo Aos Idosos

                             </h6>
                             <p>
                                Missão: Nosso compromisso é o de atender idosos de ambos os sexos, em regime de internato e semi-internato, sem fazer distinção de classe, religião ou raça, independentemente de sua condição financeira ou estado de dependência.


                             </p>
                         </div>

                     </div>
                     <div class="modal-footer">
                         <a href="http://www.amaobranca.org.br/sobrenos.asp" target="_blank" class="btn btn-dark text-light">
                             Visitar
                         </a>
                     </div>
                 </div>
             </div>
         </div>
         <!-- FIM Modal ong4-->
        </div>
        <div class="col-md-4 p-3">
            <!--Cards5 -->
            <a href="#" data-toggle="modal" data-target="#modalOng5" data-whatever="@mdo">
                <div class="card p-3 shadow p-3 h-100" data-aos="fade-down" style="max-width: 18rem; max-height: 18rem;">
                    <img class="card-img-top"
                        src="https://anarosa.org.br/wp-content/uploads/2018/06/logo_ana_rosa_fundo_transp.png"
                        alt="Imagem de capa do card">
                </div>
            </a>
            <!---->
             <!-- Modal ong5-->

             <div class="modal fade" id="modalOng5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
             data-backdrop="static" data-keyboard="false">
             <div class="modal-dialog">
                 <div class="modal-content bg-dark text-white">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel"> INSTITUTO ANA ROSA
                         </h5>
                         <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">×</span>
                         </button>
                     </div>
                     <div class="modal-body mt-3">
                         <div class="form-group">
                             <h6>
                                INSTITUTO ANA ROSA

                             </h6>
                             <p>
                                Missão: Proporcionar melhores condições de vida, educação, 
                                proteção e segurança a crianças e jovens provenientes de famílias de 
                                baixa renda e em situação de vulnerabilidade social.

                             </p>
                         </div>

                     </div>
                     <div class="modal-footer">
                         <a href="https://anarosa.org.br/" target="_blank" class="btn btn-dark text-light">
                             Visitar
                         </a>
                     </div>
                 </div>
             </div>
         </div>
         <!-- FIM Modal ong5-->
        </div>
        <div class="col-md-4 p-3">
            <!--Cards6 -->
            <a href="#" data-toggle="modal" data-target="#modalOng6" data-whatever="@mdo">
                <div class="card p-3 shadow p-3" data-aos="fade-down" style="max-width: 18rem;">
                    <img class="card-img-top"
                        src="https://storage.googleapis.com/atados-v3/user-uploaded/images/c506b018-884c-46ad-a574-02a3e556d2e3.png"
                        alt="Imagem de capa do card">
                </div>
            </a>
            <!---->
            <!-- Modal ong6-->

            <div class="modal fade" id="modalOng6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> TETO 
                        </h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body mt-3">
                        <div class="form-group">
                            <h6>
                                TETO 

                            </h6>
                            <p>
                               Missão: TETO é uma organização que atua em 19 países da América Latina, 
                               que busca superar a pobreza em que vivem milhões de pessoas nas comunidades 
                               precárias, por meio do engajamento comunitário e da mobilização de jovens voluntários e voluntárias.


                            </p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="https://www.techo.org/brasil/teto/" target="_blank" class="btn btn-dark text-light">
                            Visitar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM Modal ong6-->
        </div>
    </div>
</div>
<!-- FIM ONGS TESTE-->
<!-- Momento doação-->

<div class="container fundo d-flex justify-content-center w-100 border border-dark rounded mb-5 mt-5"
            data-aos="fade-up">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 d-flex justify-content-center mt-4 mb-4">
                    <h1>Doar peça</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 mb-5 d-flex justify-content-center"
                        *ngFor="let item of listaProduto | paginate: { itemsPerPage: 6, currentPage: paginaAtual }; let i = index">
                        <div class="bo" style="width: 14rem;">
                            <div class="box-body">
                                <h5 class="card-title text-center"></h5>
                            </div>
                            <div class="slide-im">
                                <img alt="1" src={{item.foto}} style="max-width: 100%; max-height: 100%;">
                                <!--overlayer---------->
                                <div class="overla">
                                    <!--buy-btn------>
                                    <a [routerLink]="['/produto', item.idProduto]" class="buy-bt">Ver +</a>
                                </div>
                            </div>
                            <!--detail-box--------->
                            <div class="detail-bo">
                                <!--type-------->
                                <div class="typ">
                                    <a href="#">{{item.nome}}</a>
                                    <span>Quantidade:{{item.quantidade}}</span>
                                </div>
                                <!--price-------->

                                <a href="#" class="pric">R${{item.preco}}</a>

                               


                            </div>
                            <div class="row d-flex align-items-center flex-column" >
                                <div class="col-md-12 w-75 d-flex align-items-center flex-column" >

                                        <button type="button" class="btn btn-outline-info w-75 mb-2 d-flex align-items-center flex-column"  data-toggle="modal"
                                            data-target="#modalDelete" data-whatever="@mdo"
                                            (click)="identificarId(item.idProduto)">Doar peça</button>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12 d-flex justify-content-end align-items-end mb-5 mt-2">
                        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                            nextLabel="Próximo">
                        </pagination-controls>
    
                    </div>
                </div>
                
            </div>

        </div>
                

<!--Fim momento doação-->
<!--Modal ONGs -->

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content bg-white text-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Escolha a ONG: de codigo:
                    {{idProd}}
                </h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mt-3">
                <div class="form-group">

                    <select class="form-control">
                        <option>CERVI</option>
                        <option>A ALTERNATIVA </option>
                        <option>ASA </option>
                        <option>A Mão Branca</option>
                        <option>INSTITUTO ANA ROSA
                        </option>
                        <option>TETO </option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal" (click)='btnDoar()'>Doar</button>
            </div>
        </div>
    </div>
</div>
<!--FIM MODAL ONGS-->