@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.card-img-to {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card-img-to:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}

.font{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
}
a{
	text-decoration:none;
}

.bo{

	width: 300px;

	width:300px;

	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin-left: 0%;
	margin-right: 0%;

}

.car {
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	transition: 0.5s ease-in-out;
	justify-content: space-around;
	margin-left: 0;
	
}

.car:hover {
	transform: translateY(20px);
}

.car:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,176,155,0.5), #4185bb);
	z-index: 2;
	transition: 0.5s all;
	opacity: 0;
}

.car:hover:before{
	opacity: 1;
}

.car img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.car .inf {
	position: relative;
	z-index: 3;
	color: #FFFFFF;
	opacity: 0;
	transform: 0.5s all;

}

.car:hover .inf{
	opacity: 1;
	transform: translate(8px);
}

.car .inf h1  {
	margin: 0;
}

.car .inf p {
	letter-spacing: 1px;
	font-size: 10px;
	margin-top: 8px;
	margin-bottom: 20px;
}

.car .inf .btnCerta {
	text-decoration: none;
	padding: 0.5rem 1rem;
	background: #fff;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}


.slide-im{
	height: 250px;
	position:relative;


	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);

}
.slide-im img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-bo{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px 10px;

	padding: 10px 20px;

	box-sizing: border-box;
	font-family: 'Patrick Hand', cursive;
}
.fonte{
	font-size: 50px;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	font-family: 'Patrick Hand', cursive;
}
.typ{
	display: flex;
	flex-direction: column;
}
.typ a{
	color: #4286bb;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
	font-size: 1.5rem;
}
.typ span{
	color:rgba(26,26,26,0.5);
}
.pric{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}
.overla{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: #90caf6b0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-bt{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	font-family: 'Patrick Hand', cursive;
}
.buy-bt:hover{
	color:#FFFFFF;
	background-color: #4185bb;
	transition: all ease 0.3s;
}
.overla{
	visibility: hidden;
}
.slide-im:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slide{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.efeit {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.efeit:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);

}