<div class="container">

    <div class="row w-100">
        <div class="col-md-4">
            <div class="card border-0 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top w-100 " src="https://i.imgur.com/KksLbXW.png" alt="Imagem de capa do card">
                </div>

                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">{{env.nome}}</h5>
                    <p class="card-text text-center font-italic">{{env.email}}</p>

                    <a href="/minhaConta#editarInformacoes" class="btn text-monospace mb-3 d-flex justify-content-center">Editar Perfil</a>
                    <a href="/doacao" class="btn text-monospace mb-3 d-flex justify-content-center">Doar</a>
                </div>

            </div>
        </div>
        
    </div>

</div>